@media screen and (max-width: 1400px) {
  #WebsiteNav {
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  #WebsiteNav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  /* PROFILE */

  #Picture1 {
    height: 200px;
  }

  #Profile {
    background-color: orange;
    margin-bottom: 0.5in;
  }

  .ProfileContainer {
    height: 3.7in;
  }

  .ProfileInfo {
    height: 300px;
    display: grid;
  }

  .ProfileInfo p {
    font-size: 12px;
  }

  .ProfileInfo #Title {
    font-size: 20px;
  }

  .ButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: none;
  }

  #CVButton {
    padding: 5px 15px;
  }

  /* ABOUT */

  #Picture2 {
    height: 250px;
  }

  #AboutMe {
    height: 25px;
  }

  #About {
    background-color: orange;
    margin-bottom: 0.5in;
  }

  .AboutPictureContainer {
    height: 4.9in;
  }

  .FirstContainerAbout,
  .SecondContainerAbout {
    height: 1.5in;
    border-radius: 10%;
    width: 45%;
  }

  .Details h1 {
    font-family: "Courier New";
    font-size: 15px;
  }

  .Details p {
    font-size: 10px;
  }

  .Details li {
    font-size: 10px;
    list-style: none;
  }

  /* EXPERIENCE  */

  #MyExperience {
    height: 40px;
    border-radius: 50%;
  }

  #Experience {
    background-color: orange;
    margin-bottom: 0.5in;
  }

  .ContainerForWholeExp {
    height: 3.5in;
    width: 100%;
  }

  .FirstContainerExp,
  .SecondContainerExp {
    height: 3in;
  }

  .FEDContainer #Title {
    font-size: 20px;
  }

  .FEDExp h3 {
    font-size: 15px;
  }

  .FEDExp p {
    font-size: 12.5px;
  }

  .PLContainer #Title {
    font-size: 20px;
  }

  .PLExp h3 {
    font-size: 15px;
  }

  .PLExp p {
    font-size: 12.5px;
  }

  /* PROJECTS */

  #Picture3 {
    height: 200px;
  }

  #Projects {
    background-color: orange;
    margin-bottom: 0.5in;
  }

  .MyProjectsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 4.5in;
  }

  .ProjectsContainer {
    border-radius: 10%;
    height: 4in;
    width: 95%;
  }

  .ProjectsInfo h2 {
    font-size: 17.5px;
  }

  .NoOfDev p {
    font-family: "Arial";
    font-size: 12.5px;
  }

  #GithubButton {
    padding: 5px 15px;
    margin-block: 0in;
  }

  /* CONTACTS */

  #MyContactsInfo {
    height: 40px;
  }

  #Contacts {
    background-color: orange;
    margin-bottom: 0.5in;
  }

  .MyContactsContainer {
    display: block;
    border-radius: 10%;
  }

  .MyContacts {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .MyContacts p {
    font-size: 12px;
  }

  /* FOOTER */

  footer {
    height: 0.25in;
  }

  #Cpr {
    font-size: 10px;
  }

  #Title {
    font-size: 30px;
  }

  .logo {
    font-size: 1rem;
  }

  .hamburger-icon {
    height: 18px;
    width: 25px;
  }

  .menu-links a {
    font-size: 1rem;
  }
}
