@media screen and (max-width: 1400px) {
  #WebsiteNav {
    display: flex;
  }
}

@media screen and (max-width: 1200px) {
  #WebsiteNav {
    display: none;
  }

  #hamburger-nav {
    display: flex;
  }
}
