* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* NAVIGATION BAR */

nav,
.nav-links {
  display: flex;
}

body {
  background-image: url(./Assets/WebsiteBG.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

nav {
  background-image: url(./Assets/NbFBG.jpg);
  background-attachment: fixed;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  margin-bottom: 0.5in;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: black;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* NAVIGATION BAR */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  background-image: url(./Assets/NbFBG.jpg);
  background-attachment: fixed;
  position: absolute;
  top: 100%;
  right: 0%;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon.open span:first-child {
  transform: none;
}

.hamburger-icon.open span:first-child {
  opacity: 1;
}

.hamburger-icon.open span:first-child {
  transform: none;
}

/* PROFILE */

#Picture1 {
  height: 400px;
  border-style: dotted;
  border-color: black;
}

#Profile {
  margin-bottom: 2.5in;
  text-align: center;
}

.ProfileContainer {
  display: flex;
  width: 90%;
  height: 5in;
  margin-block: 1cm;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
}

.ProfileInfo {
  background-image: url(./Assets/DesignBG.jpg);
  background-size: 100%;
  background-attachment: fixed;
  height: 3in;
  width: 50%;
  border-style: solid;
  border-color: black;
  align-items: center;
}

.ProfileInfo p {
  margin-block: 5mm;
}

.ButtonContainer {
  margin-block: 5mm;
}

#CVButton {
  padding: 10px 30px;
}

/* ABOUT */

#Picture2 {
  height: 400px;
  border-style: dotted;
  border-color: black;
}

#AboutMe {
  height: 50px;
  border-radius: 50%;
}

#About {
  margin-bottom: 2.5in;
  text-align: center;
}

.AboutMeContainer {
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
}

.AboutPictureContainer img {
  margin-block: 0.5cm;
}

.AboutPictureContainer {
  width: 100%;
  height: 7.5in;
  align-items: center;
}

.AboutContainer {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  align-items: center;
  margin: auto;
}

.FirstContainerAbout,
.SecondContainerAbout {
  border-style: solid;
  border-radius: 50%;
  border-color: black;
  height: 2.5in;
  width: 35%;
  display: flex;
  justify-content: center;
  background-image: url(./Assets/DesignBG.jpg);
  background-attachment: fixed;
}

/* EXPERIENCE */

#MyExperience {
  height: 80px;
  border-radius: 50%;
}

#Experience {
  margin-bottom: 2.5in;
  text-align: center;
}

.ContainerForWholeExp {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5.5in;
  width: 90%;
}

.FirstContainerExp,
.SecondContainerExp {
  background-image: url(./Assets/DesignBG.jpg);
  background-attachment: fixed;
  border-radius: 10%;
  border-style: solid;
  border-color: black;
  height: 5in;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 45%;
}

.FEDDescription,
.PLDescription {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-block: 0.5cm;
}

.FEDExp,
.PLExp {
  flex-direction: column;
}

/* PROJECTS */

#Picture3 {
  height: 400px;
  border-style: dotted;
}

#Projects {
  margin-bottom: 2.5in;
  text-align: center;
}

.MyProjectsContainer {
  height: 8in;
  width: 90%;
  margin: auto;
}

.ProjectsContainer {
  background-image: url(./Assets/DesignBG.jpg);
  background-attachment: fixed;
  height: 6in;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#GithubButton {
  margin-block: 1.5mm;
  padding: 10px 30px;
}

/* CONTACTS */

#MyContactsInfo {
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#Contacts {
  margin-bottom: 2.5in;
  text-align: center;
}

.ContactsContainer {
  height: 1.25in;
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto;
}

.MyContactsContainer {
  background-image: url(./Assets/DesignBG.jpg);
  background-size: 100%;
  background-attachment: fixed;
  width: 75%;
  border-style: solid;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.MyContacts {
  display: flex;
  align-items: center;
  gap: 5mm;
  height: 2cm;
}

#ClickableParagraph {
  cursor: pointer;
}

/* FOOTER */

footer {
    display: flex;
    align-items: center;
    height: 0.5in;
    background-image: url(./Assets/NbFBG.jpg);
    background-size: 100%;
    background-attachment: fixed;
    justify-content: space-evenly;
  }